<header class="header">
      <div class="container header-container">
        
        <div class="logo" routerLink="/">
          <img ngSrc="assets/icons/Logo Taíse.png" width="50" height="50" priority alt="Logo Taíse Yoga" class="logo-icon">
          <span class="logo-text">TAÍSE YOGA</span>
        </div>
        
        <nav class="nav-menu" aria-label="Navegação principal">
          <div class="nav-links">
            <a routerLink="/">Início</a>
            <a href="#sobre">Sobre</a>
            <a href="#contato">Contato</a>
          </div>
          <div class="nav-buttons">
            <a class="btn-solid" routerLink="/login">Login</a>
          </div>
        </nav>
      </div>
    </header>